div.body h1 {
  text-transform: uppercase;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.big-button {
  line-height: 2;
  padding: 0 1em;
  font-size: 1.2em;
}

#speakers h2 {
  margin-bottom: 2em;
}

#speakers h3 {
  padding-top: 0.5em;
  margin-top: 0;
}

#speakers img {
  border-radius: 50%;
}

#speakers p {
  margin-bottom: 5em;
}

#speakers h3, #speakers p {
  margin-left: 200px;
}

.discount {
  display: block;
  background: #cfd;
  color: #465;
  font-weight: bold;
  margin: -0.25em -0.7em;
  padding: 0.25em 0.7em;
}

div.twocol img {
  float: left;
  display: none;
  border: 1px solid;
}

div.clearer {
  clear: both;
}
