div.body h1 {
  text-transform: uppercase;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.big-button {
  line-height: 2;
  padding: 0 1em;
  font-size: 1.2em;
}

.discount {
  display: block;
  background: #cfd;
  color: #465;
  font-weight: bold;
  margin: -0.25em -0.7em;
  padding: 0.25em 0.7em;
}

a.image-reference {
  border: 0;
}

div.speakers h2 {
  margin-bottom: 2em;
}

div.speakers h3 {
  padding-top: 0.5em;
  margin-top: 0;
}

div.speakers a {
  color: inherit;
}

div.speakers img {
  border: 1px solid;
  border-radius: 50%;
}

div.speakers p {
  margin-bottom: 5em;
}

div.speakers h3,
div.speakers p {
  margin-left: 200px;
}

div.talks .topic-title {
  font-family: Raleway;
  font-size: 180%;
  margin-bottom: 0;
  font-weight: normal;
}

div.talks .topic {
  padding: 1em 1em 0;
  margin: 0 0 1em 0;
}
